extends layout


block content

  button(class='backButton' onclick="location.href='/tr?lng=#{i18n.language}' "  )
    img(src=`../images/baseline_keyboard_backspace_black_24dp.png` alt='back button')
    |   #{t("buttons.back_button_text")}
 
  br
  br
  br
  br
  br
  br
  br

  -var images=imagesCategory;


  p #{t("roomInformation."+information)}  #{t("home.more_info_or_book")}    
    a(href="mailto:trifonpanorama@gmail.com?subject=Hotel Panorama") 
      |trifonpanorama@gmail.com 
    | #{t("home.or_on_phone")}
    b 00306975302166 , 00306946920243

  button(class='backButton' onclick="location.href='/tr?lng=#{i18n.language}' "  style="right: -80%;")
    img(src=`../images/baseline_keyboard_backspace_black_24dp.png`)

  
  br
  br

  #myCarousel.carousel.slide(data-ride='carousel')  

    
    .carousel-inner
      .item.active
        img(src=`../images/${title}Pics/${images[0]}`, alt="room image" style=" height:600px; margin-left: auto;  margin-right: auto; display: block;")
      each val, index in images
        .item
          img(src=`../images/${title}Pics/${images[index]}`, alt="room image" style=" height:600px; margin-left: auto;  margin-right: auto; display: block;")


    a.left.carousel-control(href='#myCarousel' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel' data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next

  each val, index in images
      img(src=`../images/${title}Pics/${images[index]}`, class="myFuckingIndicators" data-target='#myCarousel' data-slide-to=''+(index+1))
    



 
 



  







  
